aside {
    width: 150px;
    background-color: #111;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
}

aside h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.side-navbar a,
aside .bottom a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
    font-size: 1rem;
}

.side-navbar a:hover,
aside .bottom a:hover {
    color: #a855f7;
    /* purple highlight */
}

.side-navbar img,
aside .bottom img {
    width: 20px;
    height: 20px;
}

/* Main content */
.main-section {
    flex: 1;
    padding: 24px;
    margin-left: 190px;
}

.grid {
    display: grid;
    grid-gap: 16px;
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); */
    cursor: pointer;
}


.card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.card .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
}

.card:hover .overlay {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card p {
    font-size: 0.85rem;
}

.card h4 {
    font-size: 1rem;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    gap: 12px;
}

ul img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

ul p {
    margin: 0;
}

ul p:first-child {
    font-weight: bold;
}

ul p:last-child {
    font-size: 0.85rem;
    color: #aaa;
}

.quick-picks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px 24px;
    overflow-x: auto;
}

.song-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #111;
    border-radius: 8px;
    padding: 6px 10px;
    transition: background 0.2s ease;
}

.song-card:hover {
    background: #1e1e1e;
    cursor: pointer;
}

.song-card img {
    width: 56px;
    height: 56px;
    border-radius: 6px;
    object-fit: cover;
    flex-shrink: 0;
}

.song-info {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.song-info p {
    margin: 0;
    padding: 0;
}

.song-title {
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-artist {
    font-size: 13px;
    color: #aaa;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}