{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Music Admin Panel</title>
    <link rel="stylesheet" href="{% static 'hibiki/css/admin.css' %}" />
    <link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}" />
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-header">
        <h2>🎵 Admin</h2>
        <nav class="side-navbar">
          <a href="{% url 'analytics_dashboard' %}" class="nav-link"
            >📊 Analytics</a
          >
          <a href="{% url 'feedback_dashboard' %}" class="nav-link"
            >💬 Feedback</a
          >
          <a href="{% url 'reports_dashboard' %}" class="nav-link"
            >📑 Reports</a
          >
        </nav>
      </div>
      <div class="sidebar-bottom">
        <a href="{% url 'logout' %}" class="nav-link logout-link"
          >📑 Logout</a
        >
      </div>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
