<!DOCTYPE html>
<html lang="en">
  <head>
    {% comment %} <link rel="icon" type="image/x-icon" href="/favicon.png"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/hibiki/main.css' %}" />
  </head>
  <body class="fade-out">
    {% block content %}{% endblock %}

    
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.body.classList.remove("fade-out")
      })

      window.addEventListener("beforeunload", function () {
        document.body.classList.add("fade-out")
      })
    </script>
  </body>
</html>
