{% extends "Sidebar.html" %}
{% block content %}
  <h2>Ready to play some song, {{ username }} 👋</h2>

  <!-- Playlists -->
  <h3>{{ title.1 }}</h3>
  <div class="grid grid-4">
    {% for item in section1 %}
      <div class="card" onclick="fetch_data('{{ item.id }}')">
        <img src="{{  item.img  }}" alt="{{ item.title }}">
        <div class="overlay">
          <h4>{{ item.title }}</h4>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Recommendations -->
  <h3>{{ title.2 }}</h3>
  <div class="grid grid-3">
    {% for item in section2 %}
      <div class="card" onclick="fetch_data('{{ item.id }}')">
        <img src="{{  item.img  }}" alt="{{ item.title }}">
        <div class="overlay">
          <h4>{{ item.title }}</h4>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Popular Songs -->
  <h3>{{ title.0 }}</h3>
  <ul class="song-list">
    {% for item in section3 %}
      <li>
        <img src="{{  item.img  }}" alt="{{ item.artist }}">
        <div>
          <p>{{ item.title }}</p>
          <p>{{ item.artist }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>

<script>
    function fetch_data(id) {
    // Redirect to /playlist with the given id as a query parameter
    window.location.href = `/playlist?id=${id}`;
    }
</script>

{% endblock %}
