{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hibiki</title>
    <link rel="icon" type="image/ico" href="{% static 'hibiki/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'hibiki/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'hibiki/css/landing.css' %}" />
</head>
<body class="fade-out">
    <div class="hero">
        <div class="overlay"></div>
        <div class="content">
            <h1>Hibiki</h1>
            <p>Listen to free music from your favorite artists.</p>
            <a href="{% url 'register' %}" class="btn btn-primary">Get started</a>
            <br>
            <a href="{% url 'login' %}" class="btn btn-secondary">I already have an account</a>
        </div>
    </div>
</body>
</html>
