{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'hibiki/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'hibiki/css/login.css' %}" />
    <link rel="icon" type="image/ico" href="{% static 'hibiki/favicon.ico' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body class="login-page">
    <div class="overlay"></div>
    <div class="login-box">
      <h2>Welcome back!</h2>
      <p>Sign in to discover, stream, and enjoy millions of songs.</p>

      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <p class="alert {{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <form method="POST" id="loginForm">
        {% csrf_token %} 
        {% include "partials/form_field.html" with field=form.username %} 
        {% include "partials/form_field.html" with field=form.password %}

        <button class="login-btn" type="submit">Sign in</button>
      </form>

      <div class="Register">
        <p>
          Don’t have an account? <a href="{% url 'register' %}">Register</a>
        </p>
      </div>
    </div>
  </body>
</html>
