{% extends "Sidebar.html" %}
{% block content %}

<link rel="stylesheet" href="{% static 'hibiki/css/moods.css' %}" />

<div class="grid">
  {% for playlist in playlists %}
    <div class="card" onclick="window.location.href = '/playlist?id={{playlist.playlistId}}'">
      <img src="{{ playlist.thumbnails.0.url }}" alt="{{ playlist.title }}">
      <div class="title">{{ playlist.title }}</div>
      <div class="subtitle">{{ playlist.description }}</div>
    </div>
  {% endfor %}
</div>

{% endblock %}
