{% extends "Sidebar.html" %} {% load static %} {% block content %}
<title>{{ playlist.title }}</title>

<script src="{% static 'hibiki/js/data.js' %}"></script>
<link rel="stylesheet" href="{% static 'hibiki/css/playlist.css' %}" />
<link rel="stylesheet" href="{% static 'hibiki/css/3DotMenu.css' %}" />

<div class="playlist-header">
  {% with playlist.thumbnails|last as last_thumb %} {% if last_thumb %}
  <img src="{{ last_thumb.url }}" alt="Playlist cover" />
  {% else %} {% if tracks.0.thumbnails %}
  <img src="{{ tracks.0.thumbnails.0.url }}" alt="Track cover" />
  {% else %}
  <img src="{% static 'default_cover.jpg' %}" alt="Default cover" />
  {% endif %} {% endif %} {% endwith %}

  <div class="playlist-info">
    <p>PLAYLIST</p>
    <h1>{{ playlist.title }}</h1>

    {% if playlist.description %}
    <p>{{ playlist.description }}</p>
    {% endif %}
    <p></p>
    <p>
      {% if playlist.author.name %} {{ playlist.author.name }} {% endif %} 
      {% if playlist.author.name and playlist.trackCount %} • {% endif %} 
      {% if playlist.trackCount %} {{ playlist.trackCount }} songs {% endif %} 
      {% if playlist.duration %} • {{ playlist.duration }} {% endif %}
    </p>
  </div>
</div>

<button class="play-btn" style="cursor: pointer" onclick="play_playlist(0)">
  ▶
</button>

<div class="tracks">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      {% comment %}
      <tr
        onclick="playTrackById('{{ track.videoId }}')"
        style="cursor: pointer"
      >
        <td>{{ forloop.counter }}</td>
        <td>
          <img class="track-img" src="{{ track.thumbnails.0.url }}" alt="" />
          {{ track.title }}
        </td>
        <td>
          {% for artist in track.artists %} {{ artist.name }} {% if not
          forloop.last %}, {% endif %} {% endfor %}
        </td>
        <td>{{ track.duration }}</td>
      </tr>
      {% endcomment %} {% for track in tracks %}
      <tr onclick="play_playlist({{ forloop.counter0 }})">
        <td>{{ forloop.counter }}</td>
        <td class="track-img-title-info">
          <img class="track-img" src="{{ track.thumbnails.0.url }}" alt="" />
          <div class="track-title">{{ track.title }}</div>
        </td>
        <td>
          {% for artist in track.artists %} {{ artist.name }} 
          {% if not forloop.last %}, {% endif %} {% endfor %}
        </td>
        <td>{{ track.duration }}</td>
        <td>
          <div class="dotmenu-container">
            <button
              class="dotmenu-btn"
              onclick="toggleMenu(event, {{ forloop.counter0 }})"
            >
              ⋮
            </button>
            <div class="dotmenu" id="dotmenu-{{ forloop.counter0 }}">
              <ul>
                <li
                  onclick="event.stopPropagation(); addToQueue(`{{ track|escapejs }}`)"
                >
                  Add to Queue
                </li>
                <li
                  onclick="addToPlaylistfromplaylist(event,`{{ track|escapejs }}`)"
                >
                  Add to Playlist
                </li>
                <li
                  onclick="event.stopPropagation(); copyShareableLink('{{ track.videoId }}')"
                >
                  Share
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Playlist Modal -->
<div id="playlistBackdrop" class="modal-backdrop">
  <div class="playlistmodal">
    <span class="close" onclick="closeModal()">&times;</span>
    <h3>Your Playlists</h3>
    <ul id="playlistList"></ul>
    <p id="noPlaylists" style="display: none">No playlists found.</p>
  </div>
</div>

<script>
  function play_playlist(currentIndex) {
    console.log(currentIndex)
    const queryString = window.location.search
    const urlParams = new URLSearchParams(queryString)
    const playlistId = urlParams.get("id")
    const upid = urlParams.get("upid")
    if (playlistId) {
      console.log("hello")
      fetch(`/api/player/?playlistId=${playlistId}`)
        .then((res) => res.json())
        .then((data) => {
          if (data.tracks && data.tracks.length) {
            window.tracks = data.tracks // set global playlist
            window.currentIndex = currentIndex // start from first track

            loadTrackByData(data.tracks[window.currentIndex], true) // play first track
            populatePlaylist() // update drawer UI
          }
        })
    }

    if (upid) {
      console.log(upid)
      fetch(`/api/player/?upid=${upid}`)
        .then((res) => res.json())
        .then((data) => {
          if (data.tracks && data.tracks.length) {
            window.tracks = data.tracks // set global playlist
            window.currentIndex = currentIndex // start from first track

            loadTrackByData(data.tracks[window.currentIndex], true) // play first track
            populatePlaylist() // update drawer UI
          }
        })
    }
  }
</script>

{% endblock %}
