{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <script src="{% static 'hibiki/js/animate_route.js' %}"></script>
    <link rel="stylesheet" href="{% static 'hibiki/css/animate_route.css' %}" />
    <link rel="stylesheet" href="{% static 'hibiki/css/register.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  </head>
  <body class="fade-out">
    <div class="register-box">
      <h2>Hi!</h2>
      <p>Sign up to start listening to all your favorite artists.</p>

      <form method="POST" id="registerForm">
        {% csrf_token %} 
        {% include "partials/form_field.html" with field=form.username %} 
        {% include "partials/form_field.html" with field=form.email %} 
        {% include "partials/form_field.html" with field=form.password %} 
        {% include "partials/form_field.html" with field=form.confirm_password %}

        <button class="register-btn" type="submit">Register</button>
      </form>

      <div class="login">
        <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
      </div>
    </div>
  </body>
</html>
