{% extends "Sidebar.html" %} 
{% load static %} 

{% block content %}
<link rel="stylesheet" href="{% static 'hibiki/css/settings.css' %}">

<div class="settings-page">
  <h2>Settings</h2>
  <ul class="settings-list">
    <li>
      <a href="#">
        <span class="icon user"></span>
        <span>Account</span>
        <span class="chevron"></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon lock"></span>
        <span>Privacy & Security</span>
        <span class="chevron"></span>
      </a>
    </li>
    <li>
      <a href="{% url 'feedback' %}">
        <span class="icon support"></span>
        <span>Help and Support</span>
        <span class="chevron"></span>
      </a>
    </li>
    <li>
      <a href="{% url 'about' %}">
        <span class="icon about"></span>
        <span>About</span>
        <span class="chevron"></span>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
