{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hibiki</title>
    <link rel="stylesheet" href="{% static 'hibiki/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'hibiki/css/home.css' %}">
    <script src="{% static 'hibiki/js/isUser.js' %}"></script>
    <script src="{% static 'hibiki/js/showToast.js' %}"></script>
</head>

<body class="home-page">
    <!-- Sidebar (always visible) -->
    <aside style="z-index: 999;">
        <div>
            <h1>Hibiki</h1>
            <nav class="side-navbar">
                <a href="{% url 'home' %}"><img src="https://img.icons8.com/ios-filled/50/ffffff/home--v1.png"
                        alt="Home" loading="lazy" /> Home</a>
                <a href="{% url 'search' %}"><img src="https://img.icons8.com/ios-filled/50/ffffff/search--v1.png" alt="Search"
                        loading="lazy" /> Search</a>
                {% comment %} <a href="{% url 'player' %}"><img src="https://img.icons8.com/?size=100&id=JYi8olc3mrka&format=png&color=ffffff" alt="Liked Songs"
                        loading="lazy" /> player</a> {% endcomment %}
                <a href="{% url 'myPlaylist' %}"><img src="https://img.icons8.com/ios-filled/50/ffffff/plus-math--v1.png" alt="New Playlist"
                        loading="lazy" /> My Playlist</a>
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/ffffff/like--v1.png" alt="Liked Songs"
                        loading="lazy" /> Liked Songs</a>
            </nav>
        </div>
        <div class="bottom">
            <a href="{% url 'setting' %}"><img src="https://img.icons8.com/ios-filled/50/ffffff/settings.png" alt="Settings"
                    loading="lazy" /> Settings</a>
            <a href="{% url 'logout' %}" onclick="sessionStorage.clear();" ><img
                    src="https://img.icons8.com/?size=200&id=vGj0AluRnTSa&format=png&color=ffffff" alt="Logout"
                    loading="lazy" /> Log out</a>
        </div>
    </aside>

    <!-- Main content -->
    <main class="main-section">
        {% block content %}{% endblock %}
    </main>

    {% comment %} <div id="music-player"></div> {% endcomment %}
    {% include 'player1.html' %}
    {% include "partials/loginPrompt.html" %}
</body>

</html>